[submodule "external_dependencies/unity"]
	path = external_dependencies/unity
	url = https://github.com/ThrowTheSwitch/Unity
[submodule "external_dependencies/neither"]
	path = external_dependencies/neither
	url = https://github.com/LoopPerfect/neither.git
